/* Everything before content :3 */

* {
	font-family: 'Play', sans-serif;
	margin: 0;
	padding: 0;
}

html {
	width: 1366px;
	margin: 0 auto;
}

body {
	margin: auto;
	width: 1366px;
	background-color: #d3d3d3;

}

.wrappingOfEverything {
	background-color: transparent;
	background-image: url('_img/bg1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
	box-shadow: 0 0 150px #333;
	border: 2px solid #1d1d1d;
	width: auto;
	height: 1500px;
	min-width: 1366px;
	max-width: 1366px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

a {
	text-decoration: none;
	font-weight: 700;
}

/* Header area */

.headerWrap {
	margin: 0 auto;
	margin-top: 30px;
	width: 1340px;
	min-width: 1340px;
	min-height: 80px;
	max-width: 1340px;
	max-height: 80px;
	background-image: url('_img/header.png');
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 2px solid black;
}

.headerWrap header {
	position: relative;
	width: 50%;
	top: 20px;
	margin: 0 0 0 90px;
	width: auto;
	overflow: hidden;
}

.headerWrap header h1 {
	font-weight: bolder;
	color: black;
	text-shadow: 0 0 30px #f0f0f0;
}

.navDrop {
	position: relative;
	display: inline-block;
}

.navDropContent {
	display: none;
	position: absolute;
	background-color: #55c5ff;
	border: 2px solid black;
	color: white;
	top: 49px;
	right: 0px;
	min-width: 200px;
	min-height: 100px;
	padding: 0 10px;
	z-index: 1;
}

.navDropContent a:link, .navDropContent a:visited {
	color: white !important;
	font-size: 1.3em;
	font-weight: 800;
}

.navDropContent a:hover {
	color: #ffccff !important;
}

.navDrop:hover .navDropContent {
	display: block;
}

.navHead {
	position: relative;
	top: -10px;
	left: 835px;
}

.navHead li {
	list-style-type: none;
	display: inline;
	background-color:#33ccff;
	color: #f7f7f7;
	font-size: 1.4em;
	text-shadow: 0 0 5px black;
	padding: 25px;
	border-left: 1px solid #00FFFF;
	border-right: 1px solid #3333FF;
}

.navHead a:link, .navHead a:visited {
	color: #ffccff;
}

.navHead li:hover {
	background-color: #ff99ff;
	color: #66ccff;
}

.navHead a:hover {
	color: #66ccff;
}


/* Content Area for Left side down */

.centerContent {
	background-color: #f7f7f7;
	margin: auto;
	margin-top: 10px;
	width: 1300px;
	max-width: 1300px;
	min-width: 1300px;
	height: 190px;
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 0 0 20px black;
	
}

.centerContent #games h3 {
	text-align: center;
	font-size: 1.5em;
	color: #ff99ff;
	text-shadow: 0 0 5px black;
}

.centerContent #games p {
	margin: 0;
	padding: 0;

}

.centerContent #gameList {
	margin-top: 15px;
	font-size: 1.2em;
}

.centerContent #games #ff {
	float: left;
	color: #333;
	margin-left: 40px;
	text-align: center;
	font-weight: 900;
}

.centerContent #games #mc {
	float: left;
	color: #333;
	text-align: center;
	font-weight: 900;
	margin-left: 40px;
}

.centerContent article {

}

.centerContent article h3 {
	margin: 0;
	padding: 0;
}

.centerContent article img {
	margin-top: 10px;
	padding: 10px;
	border-radius: 20px;
	background-color: #55c5ff;
}

#gameList li {
	display: inline;
}

/* Contaner under games list */

.leftContainer {
	float: left;
	width: 800px;
	height: 700px;
	margin: 20px 0 0 30px;
	background-color: #c9e5fb;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 15px black;
	opacity: 0.8;
	overflow: scroll;
	overflow-x: hidden;
}

.leftContainer article {
	position: relative;
	margin: 10px 0 0 0;
	padding: 0 10px 0 10px;
	width: 90%;
	left: 15px;
	top: 10px;
}

.leftContainer article h3 {
	margin: 0;
	padding: 0;
	font-size: 2em;
}

.time {
	font-size: .8em;
	font-weight: bolder;
}

.leftContainer article p {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	text-align: justify;
	font-size: 1.3em;
}

.leftContainer article p:nth-child(3) {
	margin-top: 15px;
}

.leftContainer article li {
	list-style-type: none;
}

/* Right Content */

.rightContent {
	float: right;
	position: relative;
	left: -35px;
	width: 430px;
	height: 700px;
	margin-top: 20px;
	background-color: #f7f7f7;
	box-shadow: 0 0 20px black;
	border: 1px solid black;
	border-radius: 5px;
}

.servTitle {
	font-size: 1.3em;
}

.rightContent aside ul {
	margin: 0 0 0 10px;
	padding: 0;
}

.rightContent aside h3 {
	text-align: center;
	font-size: 1.4em;
	margin-bottom: 20px;
}

.rightContent aside li {
	list-style-type: none;
	font-size: 1.2em;
	margin-top: 5px;
}

