/* Everything before content :3 */;

* {
	font-family: 'Play', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	min-width: 1366px;
	max-width: 1366px;
	min-height: 768px;
	max-height: 768px;
	margin: auto;
	background-color: #e4fffc;
	background-image: url('_img/bg1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;

}

.wrappingOfEverything {
	background-color: transparent;
	margin: auto;
}

/* Header area */

.headerWrap {
	margin: 0 auto;
	min-width: 1366px;
	min-height: 80px;
	max-width: 1366px;
	max-height: 80px;
	background-image: url('_img/header.png');
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 2px solid black;
}

.headerWrap header {
	margin-left: 90px;
}

.navDrop {
	position: relative;
	display: inline-block;
}

.navDropContent {
	display: none;
	position: absolute;
	background-color: black;
	color: white;
	min-width: 200px;
	min-height: 100px;
	z-index: 1;
}

.navDrop:hover .navDropContent {
	display: block;
}

.navHead {
	position: relative;
	top: -10px;
	left: 130px;
}

.navHead li {
	list-style-type: none;
	display: inline;
	background-color:#33ccff;
	color: #f7f7f7;
	text-shadow: 0 0 5px black;
	padding: 10px;
	border-left: 1px solid #00FFFF;
	border-right: 1px solid #3333FF;
}


/* Content Area for Left side down */

.leftContent {
	margin-top: 10px;
	
}

.leftContent #games {
	background-color: #f7f7f7;
	min-width: 1366px;
	height: 190px;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 0 0 20px black;
}

.leftContent #games p {
	margin: 0;
	padding: 0;

}

.leftContent #gameList {

}

.leftContent #games #ff {
	float: left;
	color: #333;
	margin-left: 40px;
	text-align: center;
	font-weight: 900;
	text-shadow: 0 0 20px black;
}

.leftContent #games #mc {
	float: left;
	color: #333;
	text-shadow: 0 0 20px black;
	text-align: center;
	font-weight: 900;
	margin-left: 40px;
}

.leftContent article {

}

.leftContent article h3 {
	margin: 0;
	padding: 0;
}

.leftContent article img {
	margin-top: 10px;
	padding: 10px;
	border-radius: 20px;
	background-color: #55c5ff;
}

#gameList li {
	display: inline;
}

/* Contaner under games list */

.leftContainer {
	float: left;
	width: 800px;
	height: 700px;
	margin-top: 20px;
	background-color: #c9e5fb;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 15px black;
	opacity: 0.8;
}

.leftContainer article {
	position: relative;
	width: 90%;
	left: 15px;
	top: 10px;
}

.leftContainer article h3 {
	margin: 0;
	padding: 0;
	font-size: 2em;
}

.time {
	font-size: .8em;
}

.leftContainer article p {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	text-align: justify;
	font-size: 1.3em;
}

.leftContainer article p:nth-child(3) {
	margin-top: 15px;
}

/* Right Content */

.rightContent {
	float: right;
	position: relative;
	left: -60px;
	width: 430px;
	height: 700px;
	margin-top: 20px;
	background-color: #f7f7f7;
	box-shadow: 0 0 20px black;
	border: 1px solid black;
	border-radius: 5px;
}
